$header-font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial,
  sans-serif;
$main-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$light-grey: rgba(241, 242, 242, 1);
$light-green: rgba(18, 151, 147, 1);
$dark-jet: rgba(55, 51, 52, 1);
$trolley-grey: rgba(122, 125, 125, 1);
$brown-sugar: rgba(190, 110, 70, 1);
$white: rgba(255, 255, 255, 1);
