@import "../../resources/defaults.scss";

.Share {

  .icons{
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
    li {
      display: inline-block;
      padding: 0.675rem 0.5rem;
      a{
          color: $trolley-grey;
          text-decoration: none;
          border: none;
          width: 64px;
          height: 64px;
          display: block;
          text-align: center;
          border-radius: 100%;
          cursor: pointer;
          .icon{
            margin-top: 8px;
          }
          &:before {
              position: absolute;
              top: 0;
              left: 0;
              width: inherit;
              height: inherit;
              line-height: inherit;
              text-align: center;
              text-indent: 0;
          }
          &:hover {
              text-decoration: none;
              color: $white;
              background-color: $trolley-grey;
          }
      }
    }
  }
}
