@import 'defaults';

#header {

    font-family: $header-font-family;
    padding: 2rem 0;
    background-color: $light-grey;

    h1 {
        text-transform: uppercase;
        font-weight: 500;
        color: $dark-jet;
    }

    p {
        color: $trolley-grey;
    }
}
#navigation {
    background-color: $dark-jet;
    color: $light-grey;
    nav {
        width: 100%;
        position: relative;
        .logo {
            fill: $light-grey;    
            width: 45px;
            height: 45px;
        }
        ul {
            width: 100%;
        }
    }
}