<section class="row"
         id="navigation"
         name="navigation">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <svg aria-hidden="true"
         class="logo">
      <use xlink:href="assets/img/logo-c.svg#logo"></use>
    </svg>
    <button aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarNavAltMarkup"
            data-toggle="collapse"
            type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarNavAltMarkup">
      <ul class="navbar-nav navbar-right justify-content-end">
        <li class="nav-item active">
          <a class="nav-link text-right text-lg-left"
             href="#header">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-right text-lg-left"
             href="#work">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-right text-lg-left"
             href="#ios">Apps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-right text-lg-left"
             href="#github">GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-right text-lg-left"
             href="https://blog.eduardochiaro.com">
          <i class="fa fa-rss mr-1"></i>.dev</a>
        </li>
      </ul>
    </div>
  </nav>
</section>
<header class="row"
        id="header">
  <div class="col-12">
    <div class="text-center">
      <h1>Eduardo Chiaro</h1>
      <p>Software Developer</p>
    </div>
  </div>
</header>
