@import '../../../resources/defaults.scss';

.GitHubCard {
  color: #000;
  .header {
    &.language-php {
      background: #8892bf;
      color: $white;
      fill: $white;
    }
    &.language-java-script {
      background: #f0da50;
    }
    &.language-swift {
      background: #fe4629;
      color: $white;
      fill: $white;
    }
    &.language-type-script {
      background: #259f94;
      color: $white;
      fill: $white;
    }
    &.language-html {
      background: #e055a6;
      color: $white;
      fill: $white;
    }
    &.language-css {
      background: #585858;
      color: $white;
      fill: $white;
    }
    &.language-shell {
      background: #e9e9e9;
    }
  }
  .title {
    font-family: $header-font-family;
  }
  .text {
    font-size: 0.9rem;
  }
}

.header {
  height: 40px;
  font-size: 0.8rem;
  .logo {
    width: 60px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.footer {
  color: #000;
  text-align: right;
}
