@import "../../../resources/defaults.scss";

.GitHubCard {
  color: #000;
  .header {
    &.language-php {
      background: #8892BF;
      color: $white;
      fill: $white;
    }
    &.language-java-script {
      background: #F0DA50;
    }
    &.language-swift {
      background: #FE4629;
      color: $white;
      fill: $white;
    }
    &.language-type-script {
      background: #259F94;
      color: $white;
      fill: $white;
    }
    &.language-html {
      background: #E055A6;
      color: $white;
      fill: $white;
    }
    &.language-css {
      background: #585858;
      color: $white;
      fill: $white;
    }
    &.language-shell {
        background: #e9e9e9;
    }
  }
  .title {
    font-family: $header-font-family;
  }
  .text {
    font-size: 0.9rem;
  }
}

.header {
  height: 40px;
  font-size: 0.8rem;
  .logo {
    width: 60px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.footer {
  color: #000;
  text-align: right;
}