@import 'variables.scss';

.github {
  .card {
    &:hover {
      transform-origin: top center;
      @include transform(rotateX(7deg) translateY(-6px) skewX(0.001deg));
      .card-holder {
        top: 10rem;
      }
      p {
        display: block;
      }
    }
  }
  .card-header {
    position: relative;
    min-height: 40px;
    svg {
      width: 60px;
      height: 40px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
    &.language-php {
      background: $celadon-blue;
      color: $white;
      fill: $white;
    }
    &.language-java-script {
      background: $deep-champagne;
    }
    &.language-swift {
      background: $imperial-red;
      color: $white;
      fill: $white;
    }
    &.language-type-script {
      background: $terra-cotta;
      color: $white;
      fill: $white;
    }
    &.language-html {
      background: $orange-web;
      color: $white;
      fill: $white;
    }
    &.language-css {
      background: $old-lavender;
      color: $white;
      fill: $white;
    }
    &.language-shell {
      background: $honeydew;
    }
  }

  .fallback-img {
    padding: 2rem;
    opacity: 0.1;
    max-height: 150px;
  }
}