@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-50 dark:bg-zinc-800 text-zinc-900 dark:text-zinc-100;
}

// Form styles 
.input-label {
  @apply block text-sm font-medium text-zinc-900 dark:text-zinc-100;
}
.input-field {
  @apply focus:border-emerald-500 bg-zinc-200 dark:bg-zinc-700 text-zinc-900 dark:text-zinc-100 focus:ring-emerald-500 block w-full shadow-sm sm:text-sm border-zinc-300 rounded-md;
}
.range-field {
  @apply rounded-lg appearance-none bg-zinc-200 dark:bg-zinc-500 h-3 w-full;
  &::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    cursor: ew-resize;
    border-radius: 50%;
    @apply bg-emerald-500 dark:bg-primary-500;
  }
}
.button-success {
  @apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md transition-colors ease-out duration-200 bg-primary-700 dark:bg-primary-600 hover:bg-primary-800 dark:hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-700
}
.button-danger {
  @apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md transition-colors ease-out duration-200 text-zinc-900 bg-accent-300 hover:bg-accent-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-500
}

//Admin tables
table.admin-table {
  @apply min-w-full divide-y divide-zinc-200 dark:divide-zinc-600;
  thead {
    @apply text-zinc-900 dark:text-zinc-100;
    tr {
      th {
        @apply px-6 py-3 text-left text-xs font-bold uppercase tracking-wider text-primary-700 dark:text-primary-600;
        &.textcenter {
          @apply text-center;
        }
        &:first-child {
          @apply p-0;
        }
      }
    }
  }
  tbody {
    @apply bg-zinc-200 dark:bg-zinc-700 text-zinc-900 dark:text-zinc-100;
    tr {
      @apply border-y-2 border-zinc-50 dark:border-zinc-800;
      &:nth-child(even) {
        @apply bg-zinc-50 dark:bg-zinc-800;
      }
      td {
        @apply px-6 py-3 whitespace-nowrap text-xs leading-5 ;
        &:first-child {
          @apply w-4 p-0 bg-primary-700 dark:bg-primary-600 border-r-2 border-zinc-50 dark:border-zinc-800;
        }
      }
    }
  }
}
.anchor {
  display: block;
  position: relative;
  top: -6rem;
  visibility: hidden;
}
.bar {
  height: 5px;
  width: 250px;
  border-radius: 3px;
  background: linear-gradient(90deg, red 0%, yellow 15%, lime 30%, cyan 50%, blue 65%, magenta 80%, red 100%);
  background-size: 200%;
  //animation: moveGradient 5s linear infinite;
}
.box-card {
  @apply rounded-lg bg-zinc-200 dark:bg-zinc-700 transition hover:ring-4 ring-offset-4 ring-offset-zinc-50 dark:ring-offset-zinc-800 hover:ring-zinc-300 dark:hover:ring-zinc-600;
}
.custom-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.unset-img {
  width: 100%;
}
.unset-img > div {
  position: unset !important;
}