<section id="ios" class="section-green row">
    <div class="col-md-4 ml-md-auto col-sm-12">

        <div class="device">
        </div>

    </div>
    <div class="col-md-4 mr-md-auto app-info">
      <h3 class="text-center text-md-left text-nowrap"><i class="fa fa-bolt" aria-hidden="true"></i> Thunderstorm</h3>
      <p>New weather app for all your weather forecast needs.</p>
      <div class="badges">
          <a class="badge-link" href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1212214783&amp;mt=8"><img src="assets/img/app-store-badge.svg" alt=""></a>
      </div>
    </div>
</section>