@import '../../resources/defaults.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.skills {

  .skill-icon {
    margin: 0 0.75rem 1rem;
    svg {
      width: 120px;
      margin: 0 auto;
      height: 120px;
      display: block;
    }
    p {
      font-family: $font-family-header;
      font-weight: bold;
    }
    &.skill-icon-node {
      fill: $orange-web;
      .progress-bar{
        border-color: $orange-web;
      }
    }
    &.skill-icon-html {
      fill: $imperial-red;
      .progress-bar{
        border-color: $imperial-red;
      }
    }
    &.skill-icon-css {
      fill: $green-sheen;
      .progress-bar{
        border-color: $green-sheen;
      }
    }
    &.skill-icon-php {
      fill: $celadon-blue;
      svg {
        width: 90px;
      }
      .progress-bar{
        border-color: $celadon-blue;
      }
    }
    &.skill-icon-mysql {
      fill: $prussian-blue;
      .progress-bar{
        border-color: $prussian-blue;
      }
    }
  }
  
  .progress{
    width: 120px;
    height: 120px;
    line-height: 120px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
    &:after{
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 12px solid $independence;
      opacity: 0.1;
      position: absolute;
      top: 0;
      left: 0;
    }
    & > span{
      width: 50%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      z-index: 1;
    }
    .progress-left{
      left: 0;
    }
    .progress-bar{
      width: 100%;
      height: 100%;
      background: none;
      border-width: 12px;
      border-style: solid;
      position: absolute;
      top: 0;
    }
    .progress-left {
      .progress-bar{
        left: 100%;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
      }
    } 
    .progress-right{
      right: 0;
      .progress-bar{
        left: -100%;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        border-right: 0;
        -webkit-transform-origin: center right;
        transform-origin: center right;
        animation: perc-100 1s linear forwards;
      }
    }
    .progress-value{
      width: 90%;
      height: 90%;
      border-radius: 50%;
      background: #44484b;
      font-size: 24px;
      color: #fff;
      line-height: 135px;
      text-align: center;
      position: absolute;
      top: 5%;
      left: 5%;
    }
  }
  
  .progress.perc-100 .progress-left .progress-bar{
    animation: perc-100 1s linear forwards 1s;
  }
  .progress.perc-90 .progress-left .progress-bar{
    animation: perc-75 0.75s linear forwards 1s;
  }
  .progress.perc-75 .progress-left .progress-bar{
    animation: perc-50 0.5s linear forwards 1s;
  }
  .progress.perc-50 .progress-left .progress-bar{
    animation: none;
  }
}
  
@keyframes perc-100{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
  }
}
@keyframes perc-75{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg);
  }
}
@keyframes perc-50{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
}
@keyframes loading-4{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
  }
}
@keyframes loading-5{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
  }
}