@import '../../resources/defaults.scss';

header {
  .logo {
    svg {
      width: 65px;
    }
  }
  .bloglink {
    a {
      color: rgba(0, 0, 0, 0.55);
      &:hover {
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}