@import "../../resources/defaults.scss";

.Navigation {
  background: $dark-jet;
  .logo {
    fill: #fff;
    width: 45px;
    height: 45px;
  }
  .rss {
    color: $brown-sugar;
  }
  a {
    &:hover {
      font-weight: bold;
    }
  }
}