@import '../../resources/defaults.scss';

header {
  .logo {
    width: 45px;
    height: 45px;
    fill: $secondary !important;

    svg {
      width: 45px;
      height: 45px;
    }
  }
  .bloglink {
    a {
      color: rgba(0, 0, 0, 0.55);
      &:hover {
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
