#bio {
  .description {
    font-size: 1.5rem;
    span {
      border-bottom: 1px dotted $trolley-grey;
      text-decoration: none;
      cursor: default;
    }
    span:hover {
      border-bottom: 1px solid $brown-sugar;
      text-decoration: none;
    }
  }
}
