@import './resources/defaults.scss';
@import '~bootstrap/scss/bootstrap';

html {
  body {
    font-family: $font-family-sans-serif;
    font-size: 16px;
    background-color: $isabelline;
  }
}

svg {
  .st0,
  .st4,
  .cls-1 {
    fill: $isabelline !important;
  }
  .st1,
  .cls-3 {
    fill: $tertiary !important;
  }
  .st2,
  .cls-4 {
    fill: $primary !important;
  }
  .st5,
  .cls-2 {
    fill: $secondary !important;
  }
  &.main-logo {
    .main {
      fill: $secondary !important;
    }
    .accent {
      fill: $primary !important;
    }
  }
  &.bottom-logo {
    .main {
      fill: $white !important;
    }
    .accent {
      fill: $white !important;
    }
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  @include media-breakpoint-down(md) {
    width: 15%;
  }
}
.carousel-indicators {
  button { 
    background-color: $orange-web !important;
  }
}
