@import 'defaults';
@import "bootstrap/scss/bootstrap.scss";

$enable-shadows: true;

#github {
    color: $dark-jet;
    h3{
        font-family: $header-font-family;
        text-transform: uppercase;
        font-size: 2.8rem;
        margin-bottom: 15px;
        span {
            font-size: 1rem;
            padding: 5px 10px;
            background: $light-green;
            color: $light-grey;
            font-weight: normal;
        }
    }
    .logo {
        font-size: 16rem;
        color: $light-grey;                
        @include media-breakpoint-down(md) {
            font-size: 8rem;
        }
    }

    .repo {
        margin-bottom: 15px;
        h4 {
            margin-top: 2px;
            font-family: $header-font-family;
        }
        .logo {
            width: 40px;
            height: 40px;
            display: block;
            fill: $trolley-grey;
        }
        .repo-link  {
            color: $dark-jet;
            text-decoration: none;
        }
        .repo-link i {
            font-size: 4rem;
            color: $light-grey;
        }
        .repo-link:hover h4 {
            color: $brown-sugar;
        }
        .repo-link:hover i{
            color: $brown-sugar;
        }
        .repo-link:hover .logo {
            fill: $brown-sugar;
        }
    }
    .repo:hover {
        cursor: pointer;
    }
}

.repos {
    padding: 10px 0;
    column-gap: 1.2rem;

    @include media-breakpoint-only(xs) {
        column-count: 1;
    }
    @include media-breakpoint-only(sm) {
        column-count: 1;
    }
    @include media-breakpoint-only(md) {
        column-count: 1;
    }
    @include media-breakpoint-only(lg) {
        column-count: 2;
    }
    @include media-breakpoint-only(xl) {
        column-count: 3;
    }
    .card {
        
        @include box-shadow(0 2px 3px rgba(0,0,0,0.1));
        @include transition(all 0.3s cubic-bezier(.25,.8,.25,1));

        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
        page-break-inside: avoid; /* Firefox */
        break-inside: avoid; /* IE 10+ */
        margin-bottom: 20px;
        display: inherit;

        a {
            color: $dark-jet;
            &:hover {
                text-decoration: none;
            }
        }
        &:hover {
            @include box-shadow(0 5px 10px rgba(0,0,0,0.1));
        }
        .card-header {
            position: relative;
            .logo {
                width: 60px;
                height: 40px;
                display: block;
                fill: $white;
                position: absolute;
                top: 5px;
                right: 5px;
            }
            &.language-php {
                background: #8892BF;
                color: $white;
            }
            &.language-javascript {
                background: #F0DA50;
            }
            &.language-swift {
                background: #FE4629;
                color: $white;
            }
            &.language-typescript {
                background: #259F94;
                color: $white;
            }
            &.language-html {
                background: #E055A6;
                color: $white;
            }
            &.language-css {
                background: #585858;
                color: $white;
            }
            
        }
        .card-footer {
            background-color: $white;
            border-top: none;

            small {
                margin-right: 20px;
                font-size: 1rem;
                color: $trolley-grey;
            }
        }
        h4 {
            margin-top: 2px;
            font-family: $header-font-family;
            &:after {
                content: " ";
                margin-top: 15px;
                display: block;
                border: 2px solid $white;
                width: 20%;
            }

            &.language-php {
                &:after {
                    border-color: #8892BF;
                }
            }
            &.language-javascript {
                &:after {
                    border-color: #F0DA50;
                }
            }
            &.language-swift {
                &:after {
                    border-color: #FE4629;
                }
            }
            &.language-typescript {
                &:after {
                    border-color: #259F94;
                }
            }
            &.language-html {
                &:after {
                    border-color: #E055A6;
                }
            }
            &.language-css {
                &:after {
                    border-color: #585858;
                }
            }
            
        }
    }
}