<section id="github" class="section-white row">
    <div class="col-md-2 ml-md-auto col-sm-12 d-sx-none">

        <div class="logo text-center">
          	<i class="fa fa-github" aria-hidden="true"></i>
        </div>

    </div>
    <div class="col-md-6 mr-md-auto col-sm-12 app-info">
      	<h3 class="text-center text-md-left">Latest Repositories <span class="badge align-text-top">{{ reposcount }} total</span></h3>

		<div class="card-columns repos">
			<div class="card" *ngFor="let repo of repos">
				<a class="repo-link" href="{{ repo.url }}">
					<div class="card-header language-{{ repo.language | lowercase }}">
						<svg class="logo" aria-hidden="true">
						<use attr.xlink:href="assets/img/svg-icons/{{ repo?.getLanguageIcon() }}.svg#icon"></use>
						</svg>
						{{ repo.language }}
					</div>
					<div class="card-body">
						<h4 class="card-title language-{{ repo.language | lowercase }}">{{ repo.name | replace:'-':' ' | capitalize:true }}</h4>
						<p class="card-text">{{ repo.description }}</p>
					</div>
					<div class="card-footer">
						<small class="text-muted"><i class="fa fa-star" aria-hidden="true"></i> {{ repo.stargazers_count }}</small>
						<small class="text-muted"><i class="fa fa-code-fork" aria-hidden="true"></i> {{ repo.forks_count }}</small>
						
					</div>
				</a>
			</div>
		</div>
    </div>
</section>

