@import '../../resources/defaults.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.apps {
  background: url('/resources/images/3px-tile.png'), $green-sheen;
  background: url('/resources/images/3px-tile.png'),
    linear-gradient(to left, $independence, $green-sheen);
  h3 {
    font-family: $font-family-header;
    font-weight: bold;
  }
  .card-cont {
    position: absolute;
    left: 0%;
    top: 0px;
  }
}
